main {
    display: flex;
}
.sidebar {
    margin-top: 20px;
    width: 240px;
    position: sticky;
    top: 0;
    height: max-content;
    border-radius: 5px;
}

.sidebar ul {
    text-align: start;
    list-style: none;
    padding: 20px;
}

.sidebar li {
    padding: 10px;
    border-radius: 5px;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.sidebar .active{
    background: #eccc5d;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar i{
    width: 20px;
    margin-right: 10px;
}

.content {
    flex: 1;
    padding: 20px;
    padding-bottom: 0;
}

@media screen and (max-width: 899px) {

    main{
        flex-direction: column;
    }

    .sidebar ul{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .sidebar li{
        width: 150px;
        margin-right: 20px;
    }

    .sidebar {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: -moz-fit-content;
        width: fit-content;
        margin: 10px 20px 0;
    }
}
