/* sidebar.css */
.sidebar {
    top:130px;
    left:8px;
    position: absolute;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.sidebar .active{
    font-weight: bold;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar i{
    width: 20px;
    margin-right: 10px;
}

.content {
    padding: 20px;
    margin-left: 270px;
}

@media screen and (max-width: 899px) {
    .sidebar {
        top:280px;
    }
}
