footer {
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-text {
    margin: 10px 0;
}


/* Stili di base per l'header */
header {
    padding: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

.header-container .logos {
    height: 80px;
    display: flex;
    justify-content: center;
}

.header-container .logos img {
    padding: 5px 20px;
}

.header-container nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-container nav ul li {
    display: inline;
    margin-left: 20px;
}

.header-container nav ul li a {
    text-decoration: none;
}

.header-container nav ul li a i {
    margin-right: 5px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .header-container{
        margin: 0;
    }

    .header-container .logos {
        height: 60px;
    }
}

@media screen and (max-width: 899px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header-container nav {
        text-align: center;
    }

    .header-container nav ul li {
        display: inline;
        margin: 20px 5px;
    }

    .header-container .logos {
        width: 150px;
        justify-content: center;
    }

    .header-container .logos img {
        flex: 1;
        padding: 0 10px;
    }
}
