.search {
    margin: 20px;
}

.search h1 {
    margin-bottom: 10px;
}

.search .searchBar {
    display: flex;
    margin-bottom: 20px;
    font-size: 1em;
}

.search .text-input {
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex: 15;
}

.search .button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    padding: 8px;
    flex:1;
}

/* Category List Styles */
.category-list {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.category-item {
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    height: 20px;
}

.category-item a{
    color: inherit;
    text-decoration: none;
}

/* Nascondi inizialmente la sottolista */
.sub-category-list {
    margin-top: 10px;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Aggiungi stili quando passi il mouse sopra l'elemento */
.category-item:hover .sub-category-list {
    display: block;
    animation: slideDown 0.3s ease-out forwards;
    transform: scale(1.05);
    z-index: 1;
}

/* Definisci l'animazione di scorrimento verso il basso */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Layout Responsive */
@media screen and (max-width: 1200px) {
    .category-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 899px) {
    .category-list {
        grid-template-columns: repeat(1, 1fr);
    }
}