.simple-table-container {
    width: 95%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto 0;
}

.simple-table-container table {
    width: 100%;
    border-collapse: collapse;
}

.simple-table-container th, .simple-table-container td {
    border-bottom: 1px solid #dddddd;
}

.simple-table-container th {
    padding: 10px;
}

.simple-table-container td{
    padding: 15px;
}

.simple-table-container .action-button {
    text-decoration: none;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.simple-table-container .action-button:hover {
    background-color: #2980b9;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {

    .simple-table-container .table-container{
        margin: 15px auto 0;
    }
}

@media screen and (max-width: 899px) {
    .simple-table-container .table-container{
        margin: 10px 0 0 0;
    }

    .simple-table-container .large-table{
        display: none;
    }
}