/* Definizione del font */
body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Dosis', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

/* Aggiungi qui altre regole di tipografia specifiche se necessario */