<header class="bg-blue">
    <div class="header-container">

        <div class="logos">
            <a href="https://www.univaq.it/">
                <img src="resources/images/logo1-white.svg" alt="Icona del sito">
            </a>

            <a href="https://www.univaq.it/">
                <img src="resources/images/logo2-white.svg" alt="Icona del sito">
            </a>

        </div>
        <h2 class="text-center">Aule Web</h2>

        <#if amministratore??>
        <#include "header_option_logged.ftl.html"/>
        <#else>
        <#include "header_option_not_logged.html"/>
        </#if>
    </div>
</header>