<header class="bg-blue">
    <div class="header-container">

        <div class="logos">
            <img src="resources/images/logo1-white.svg" alt="Icona del sito">
            <img src="resources/images/logo2-white.svg" alt="Icona del sito">
        </div>
        <h1>Aule Web</h1>

        <nav>
            <ul>
                <li><a class="yellow" href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><a class="yellow" href="#"><i class="fas fa-calendar-alt"></i> Prenotazioni</a></li>
                <li><a class="yellow" href="#"><i class="fas fa-envelope"></i> Contatti</a></li>
            </ul>
        </nav>
    </div>
</header>