<!DOCTYPE html>
<html lang="it">
    <head>
        <#include "default_setting.html">
        <#if styles??>
        <#list styles as style>
        <link rel="stylesheet" href="resources/styles/${style}.css">
        </#list>
        </#if>
        <link rel="stylesheet" href="resources/styles/base/administration.css">
    </head>

    <body>
        <#include "header.ftl.html">
        <main>
            <div class="sidebar bg-yellow br-blu-variant">
                <ul>
                    <li><a href="amministrazione?page=dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li><a href="amministrazione?page=aule"><i class="fas fa-chalkboard"></i> Aule</a></li>
                    <li><a href="amministrazione?page=attrezzature"><i class="fas fa-tools"></i> Attrezzature</a></li>
                    <li><a href="amministrazione?page=gruppi"><i class="fas fa-users"></i> Gruppi</a></li>
                    <li><a href="amministrazione?page=eventi"><i class="fas fa-calendar-alt"></i> Eventi</a></li>
                    <li><a href="amministrazione?page=corsi"><i class="fas fa-book"></i> Corsi</a></li>
                    <li><a href="amministrazione?page=responsabili"><i class="fas fa-user"></i> Responsabili</a></li>
                </ul>
            </div>
            <div class="content admin">
                <#include "../" + content_tpl>
            </div>
        </main>
        <div class="spacer"></div>
        <#include "footer.html">

        <script src="resources/scripts/global.js"></script>
        <#if scripts??>
        <#list scripts as script>
        <script src="resources/scripts//${style}.js"></script>
        </#list>
        </#if>
    <body>
</html>
