<form action="${searchLink}_filtered" method="post" class="search">
    <#assign filter = filter?default("")>
    <div class="searchBar">
        <input type="text" id="filter" name="filter" placeholder="Cerca categoria..." class="text-input br-yellow" required value="${filter}">
        <#if filter?length gt 0>
        <a href="${searchLink}" class="button bg-yellow br-yellow middle"><i class="fas fa-close"></i></a>
        </#if>
        <button type="submit" class="button bg-yellow br-yellow"><i class="fas fa-search"></i></button>
    </div>
</form>
