/* General Styles */
/*
.search {
    margin: 20px;
}

.search h1 {
    margin-bottom: 10px;
}

.search .searchBar {
    display: flex;
    margin-bottom: 20px;
    font-size: 1em;
}

.search .text-input,
.search .button {
    padding: 10px;
    border-radius: 10px;
}

.search .text-input {
    flex: 15;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search .button {
    cursor: pointer;
    padding: 8px;
    flex: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
*/

.space{
    margin:10px 0;
}

/* Category List Styles */
.category-list {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.category-item {
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    height: auto;
    max-height: 20px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
}

.category-item h3 {
    margin-top: 0;
    color: inherit;
    text-decoration: none;
}

.category-item:hover{
    max-height: 250px;
}

.category-item:hover .sub-category-list {
    opacity: 1;
    overflow: auto;
}

.sub-category-list {
    padding:0;
    margin: 20px 0;
    opacity: 0;
    max-height: 200px;
    transition: opacity 0.5s ease-in-out
}

.sub-category-list li {
    text-align: center;
    padding: 5px 0;
    list-style: none;
}

.sub-category-list li a {
    text-decoration: none;
    color: inherit;
}

.sub-category-list li:hover {
    color: #fad762;
    font-weight: bold;
}

/* Layout Responsive */
@media screen and (max-width: 1200px) {
    .category-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 899px) {
    .category-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
