<div class="info-container">
    <div class="info">
        <div class="info-header">
            <i class="fas fa-book"></i>
            <h2>${corso.nome}</h2>
        </div>
        <div class="info-details">
            <div class="detail">
                <i class="fas fa-graduation-cap"></i>
                <h4>${corso.corsoLaurea}</h4>
            </div>
            <div class="detail">
                <i class="fas fa-info-circle"></i>
                <p>${corso.descrizione}</p>
            </div>
        </div>
    </div>
    <div class="info-image">
        <img src="resources/images/corso.svg" alt="Immagine Aula">
    </div>
</div>