<!DOCTYPE html>
<html lang="it">
    <head>
        <#include "base/default_setting.html">
        <link rel="stylesheet" href="resources/styles/error.css">
    </head>
    <body>
        <main>
            <div class="error-container">
                <div class="image-container">
                    <a href=" https://www.univaq.it/"><img src="resources/images/logo1-black.svg" alt="Logo 1"></a>
                    <a href=" https://www.univaq.it/"><img src="resources/images/logo2-black.svg" alt="Logo 2"></a>
                </div>
                <h1>Oops!</h1>
                <p><strong>Qualcosa è andato storto.</strong><br>${error}</p>
                <a class="bg-blue button" href="${backLink}">Torna indietro</a>
            </div>
        </main>
    </body>
</html>
