<h4 class="text-left back">
    <a href="amministrazione?page=corsi">
        <i class="fas fa-arrow-left"></i>
        Torna indietro
    </a>
</h4>
<h1>
    <#if aula?has_content>
    Gestisci Aula
    <#else>
    Crea Aula
    </#if>
</h1>

<form class="simple-form" method="post" action="managedata?type=1&object=3">
    <input type="hidden" id="key" value="<#if corso?has_content>${corso.key}<#else>-1</#if>">
    <input type="hidden" id="version" value="<#if corso?has_content>${corso.version}<#else>0</#if>">
    <label for="nome">Nome*:</label>
    <input type="text" id="nome" name="nome" required value="<#if corso?has_content>${corso.nome}</#if>"><br>

    <label for="descrizione">Descrizione*:</label>
    <input type="text" id="descrizione" name="descrizione" required value="<#if corso?has_content>${corso.descrizione}</#if>"><br>

    <label for="laurea">Laurea*:</label>
    <select id="laurea" name="laurea" required value="<#if corso?has_content>${corso.laurea}</#if>">
        <#list lauree as laurea>
        <option value="${laurea}">${laurea}</option>
        </#list>
    </select><br>
    <button class="bg-blue" type="submit">Salva</button>
</form>
