.custom-element{
    width: 100%;
    display: flex;
}

.custom-element a{
    height: 42px;
    width: 42px;
    border-radius: 5px;
    margin-left: 5px;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.options {
    width: 100%;
    height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 10;
    margin-top: -15px;
    margin-bottom: 10px;
}

.option {
    padding: 8px;
    cursor: pointer;
}

.option:hover {
    background-color: #f4f4f4;
}


.simple-table-container{
    box-shadow: none !important;
    width: 100% !important;
    padding: 0 !important;
    margin-bottom: 30px !important;
    text-align: center;
    border: 2px solid #ccc
}
