.date-form {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

#dayPicker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
}

.date-form button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}

.date-form button:hover {
    background-color: #233f8b;
}

@media screen and (max-width: 1350px){
    .date-form {
        width: 100%;
    }
}