<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- servlet -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettagliCorso</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.DettagliCorso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettagliAula</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.DettagliAula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettagliEvento</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.DettagliEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Amministrazione</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.Amministrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettagliGruppo</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.DettagliGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AulaForm</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.AulaForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageData</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.ManageData</servlet-class>
    </servlet>
    <!-- servlet-mapping -->
    <servlet>
        <servlet-name>AttrezzatureForm</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.AttrezzatureForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorsoForm</servlet-name>
        <servlet-class>com.univaq.project.auleweb.controller.CorsoForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettagliCorso</servlet-name>
        <url-pattern>/dettaglicorso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettagliAula</servlet-name>
        <url-pattern>/dettagliaula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettagliEvento</servlet-name>
        <url-pattern>/dettaglievento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Amministrazione</servlet-name>
        <url-pattern>/amministrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettagliGruppo</servlet-name>
        <url-pattern>/dettagligruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AulaForm</servlet-name>
        <url-pattern>/auleform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageData</servlet-name>
        <url-pattern>/managedata</url-pattern>
    </servlet-mapping>
    <!-- welcome -->
    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>
    <!-- session -->
    <servlet-mapping>
        <servlet-name>AttrezzatureForm</servlet-name>
        <url-pattern>/attrezzatureform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorsoForm</servlet-name>
        <url-pattern>/corsiform</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- resource -->
    <resource-ref>
        <res-ref-name>jdbc/auleweb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <!-- context params -->
    <context-param>
        <param-name>data.source</param-name>
        <param-value>jdbc/auleweb</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>resources/templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>base/outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
</web-app>
